p {
    line-height: 1.5em;
}

ul li {
    list-style-type: square;
}

ol > li > ol > li:first-child {
    list-style-type: none;
}

.descriptor {
    display: block;
    margin: 1.5em 7em 0 7em;
}

.about {
    font-size: 2em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    clear: both;
}

.contact-person {
    float: left;
    line-height: 1.5em;
    margin: 0 1.8em 2em 0;
}

.position {
    font-style: oblique;
}

#members ul {
    margin: 1em 0 0 0;
}

#members li {
    margin: 0.25em 0;
}
