p {
    line-height: 1.5em;
}

.descriptor {
    display: block;
    margin: 1.5em 9em 0 9em;
}

.about {
    font-size: 2em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    clear: both;
}

.contact-person {
    float: left;
    line-height: 1.5em;
    margin: 0 1.8em 2em 0;
}

.position {
    font-style: oblique;
}